<div class="clients-wrapper">
    <div class="clients-header">

        <button type="button" class="btn btn-primary add-client-btn" (click)="openCreateModal()">Add Client</button>
    </div>

    <div class="modal fade" #exampleModal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalTitle}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-client-form #clientForm [clientId]="selectedClientId"
                        (loadClients)="loadClients()"></app-client-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" #accountsModal id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="accountModalLabel">Accounts</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-accounts #accountComp [clientId]="selectedClientId"
                        (loadClients)="loadClients()"></app-accounts>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table class="client-table">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Name</th>
                <th>Total Balance</th>
                <th class="table-action">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (client of clients; track client.id) {
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td class="table-balance">{{ client.accounts.current.balance + client.accounts.saving.balance }}</td>
                <td class="actions-cell">
                    <button class="btn btn-primary" (click)="openEditModal(client.id)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteClient(client.id)">Delete</button>
                    <button class="btn btn-secondary" (click)="openAccountsModal(client.id)">Accounts</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>